.tooltip tooltip-container {
    background-color: var(--accent);
}

#title {
    white-space: normal;
}

#title {
    margin-bottom: 8px;
}

.resource-requirements {
    display: flex;
    flex-direction: column;
}

.resource-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.resource-item-title {
    margin-right: 8px;
    color: var(--primary-up);
}

.resource-item-amount {
    margin: 0;
    padding: 0;
    color: var(--base-strong);
    min-width: 40px;
}

.resource-item.missing > .resource-item-amount {
    color: var(--critical);
}