@import url("/Assets/Example/UI/Assets/Styles/default-theme.uss");

#toolbar-panel {
    position: absolute;
    bottom: 0;
    margin-bottom: 4px;
    margin-left: 4px;
    display: flex;
}

#buttons {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

#buttons > .psi-button {
    height: 64px;
    width: 64px;
}